{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      
        {{#text.headline}}
        <div  style="cursor: pointer" {{action 'toggleBirthday' person}}>
          <div style="display: inline"><h2 style="display: inline">{{person.name}}</h2></div>
          <span style='display: inline; padding-left: 10px;font-size: 10px'>show birthdate<i style="margin-left:5px;font-size: 10px" class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
        </div>
          {{/text.headline}}
        {{#text.subhead}}
            {{#if showBirth_date}}
              <p>{{format-date person.birth_date }}</p>
            {{/if}}
        {{/text.subhead}}

    {{/title.text}}
  {{/card.title}}
  {{#card.actions}}
    {{#paper-button raised=true onClick=(action "delete" person)}}Delete{{/paper-button}}
  {{/card.actions}}
{{/paper-card}}