<div style="width: 60%; margin: 0 auto; padding-bottom:100px;">

  <h3>add a new person to the list</h3>
  <form>
    <div>
      {{paper-input flex=30 required=true label="Name" value=model.name onChange=(action (mut model.name))}}
    </div>
    <div>
      {{paper-input flex=true required=true label="Submission date" type="date" value=model.birth_date onChange=(action (mut model.birth_date))}}
    </div>
    <div {{action 'add'}}>

      {{#paper-button raised=true  }}Add{{/paper-button}}

    </div>
  </form>

</div>

{{people-list title="List of People" people=model}}
